<section class="person-list" ng-if="::list">
  <div ng-repeat="card in list | orderBy: '-positivePerc' track by card.__id" class="person-card">
    <div class="ki-cel-1 person-card__image" style="background-image: url({{card.picture}})">
      <span class="person-card__order">{{$index + 1}}</span>
    </div>
    <div class="ki-cel-3 person-card-info">
      <p class="person-card-info__name">{{card.name}}</p>
      <p class="person-card-info__description" ng-bind-html="card.description"></p>
    </div>
    <div class="ki-cel-4 ki-dk-6 person-card-likes">
      <div class="ki ki-cel-2 ki-dk-5 person-card-likes--border">
        <p class="person-card-likes__like person-card-likes__like--border">Gostam</p>
        <p class="person-card-likes__perc person-card-likes__perc--border-left">{{card.positivePerc}}%</p>
      </div>
      <div class="ki ki-cel-2 ki-dk-7">
        <p class="person-card-likes__dislike person-card-likes__dislike--border">Não Gostam</p>
        <p class="person-card-likes__perc person-card-likes__perc--border-right">{{card.negativePerc}}%</p>
      </div>
    </div>
  </div>
</section>
