@import "variables.less";
@import "reset.less";

body {
  background-color: @bodyColor;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
}

.ki {
  display: inline-block;
}

.ki-cel-1 {
  width: 25%;
}
.ki-cel-2 {
  width: 50%;
}
.ki-cel-3 {
  width: 75%;
}
.ki-cel-4 {
  width: 100%;
}


.page-header {
  color: @headerFontColor;
  border-bottom: 1px solid #dedede;
  .page-header__brand {
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
  }

  .page-header__title {
    font-weight: 700;
    letter-spacing: -2px;
    text-align: center;
    background-color: @backgroundColor;
    text-transform: uppercase;
    padding: 15px;
  }
}

.person-list {
  background-color: @backgroundColor;
  font-family: 'Montserrat', sans-serif;

  .person-card {
    padding: 25px;

    &:nth-child(even) {
      background-color: #f2f0f1;
    }
  }
  .person-card__image, .person-card-info {
    vertical-align: middle;
    display: inline-block;
  }
  .person-card__image {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-position: top center;
    background-size: cover;
    border: 4px solid @cardColor;
    position: relative;
    .person-card__order {
      position: absolute;
      border: 1px solid #767674;
      color: #767674;
      background-color: #fff;
      border-radius: 50%;
      bottom: -5px;
      right: -5px;
      font-size: 13px;
      width: 20px;
      height: 20px;
      text-align: center;
      padding: 2px;
      font-weight: 600;
    }
  }

  .person-card-info {
    padding-left: 20px;
    .person-card-info__name, .person-card-info__description {
      display: block;
    }

    .person-card-info__name {
      font-weight: 600;
      color: @cardColor;
      font-size: 18px;
      margin-bottom: 5px;
    }

    .person-card-info__description {
      color: #909090;
      font-size: 12px;
    }

  }
  .person-card-likes {
    text-align: center;
    margin-top: 10px;
    border: 1px solid @cardColor;
    border-radius: 5px;
    .person-card-likes--border {
      border-right: 1px solid #8b8b8b;
    }
    .person-card-likes__like, .person-card-likes__dislike, .person-card-likes__perc{
      padding: 5px;
      font-weight: 600;
    }
    .person-card-likes__like, .person-card-likes__dislike {
      text-transform: uppercase;
      background-color: @cardColor;
      color: #fff;
      font-size: 13px;
    }
    .person-card-likes__perc {
      color: #8f8f8f;
      font-weight: 700;
      font-size: 25px;
    }
  }
}


@media (min-width: 768px) {
  .ki-dk-1 {
    width: 8.33%;
  }
  .ki-dk-2 {
    width: 16.66%;
  }
  .ki-dk-3 {
    width: 25%;
  }
  .ki-dk-4 {
    width: 33.33%;
  }
  .ki-dk-5 {
    width: 41.66%;
  }
  .ki-dk-6 {
    width: 50%;
  }
  .ki-dk-7 {
    width: 58.33%;
  }
  .ki-dk-8 {
    width: 66.66%;
  }
  .ki-dk-12 {
    width: 100%;
  }
  .page-header {
    max-width: 345px;
    margin: 0 auto;
    margin-bottom: 35px;
    border: none;
    padding-top: 20px;
    .page-header__brand, .page-header__title  {
      display: inline-block;
    }

    .page-header__brand {
      margin-left: -30px;
      margin-bottom: -13px;
      position: relative;
      z-index: 1;
      padding: 0;
      vertical-align: bottom;
    }
    .page-header__title {
      position: relative;
      padding: 10px 30px;
      margin-left: -60px;
      border-radius: 3px;
      vertical-align: bottom;
      text-align: right;
      width: 262px;
    }
  }
  .person-list {
    max-width: 345px;
    margin: 0 auto;
    border-radius: 3px;
    margin-bottom: 20px;

    .person-card-likes {
      display: none;
    }

    .person-card {
      position: relative;
      &:hover {
        background-color: @cardColor;
        .person-card__image {
          border: 4px solid #fff;
        }
        .person-card-info {
          .person-card-info__name {
            color: #fff;
          }
          .person-card-info__description {
            color: #000;
          }
        }
        .person-card-likes {
          display: block;
          position: absolute;
          right: -57%;
          bottom: 26%;
        }
      }

      .person-card-likes {
        border: none;
        .person-card-likes__like, .person-card-likes__dislike {
          font-size: 11px;
        }
        .person-card-likes__like--border {
          border-top-left-radius: 5px;
        }
        .person-card-likes__dislike--border {
          border-top-right-radius: 5px;
        }
        .person-card-likes__perc {
          background-color: @backgroundColor;
        }
        .person-card-likes__perc--border-left {
          border-bottom-left-radius: 5px;
        }
        .person-card-likes__perc--border-right {
          border-bottom-right-radius: 5px;
        }
        &:after, &:before {
          right: 100%;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }
        &:after {
          border-color: rgba(136, 183, 213, 0);
          border-right-color: @backgroundColor;
          border-width: 10px;
          margin-top: -10px;
        }
      }
    }
  }
}
